.modal {
  max-width: 270px;

  .modal-content {
    max-width: 270px;

    .modal-body,
    .list-group-item {
      padding: 0;
    }

    .list-group-item {
      border: none;
      padding: 1rem 2rem;

      &:first-child {
        background-color: var(--gray-bg);
      }

      a {
        display: grid;
        grid-template-columns: 1fr 5fr;
        align-items: center;
        padding: 0.5rem 0;
        color: var(--gray-200);
        width: 100%;
        font-weight: 700;
        text-align: left;

        transition: 0.2s;

        &:hover {
          color: var(--red);
        }

        &:active {
          color: var(--red);
        }

        i {
          font-size: 1.4rem;
        }
      }
    }
  }
}
